@import url('https://fonts.googleapis.com/css2? family= Style+Script & display=swap');

header{
    background-color: #0A4D68;
    padding: 20px 20px;
    margin: 20px 20px;
    height: 90px;
    width: 100%;
}

h1{
    color: #05bfdb;
    font-size: 30px;
    background-color: #0A4D68;
    text-align: center;
}

.sidebar{
    font-size: 20px;
    line-height: 1,5;
    background: var(--otro);
    display: flex;
    flex-direction: row;
    content: '\ee03';
    text-align: center;
    margin: 20px;
    align-items: center;
}

h2{
    color: #0A4D68;
    margin: 10px 10px;
    font-family: 'Style Script', cursive;
    font-size: 30px;
}

img.evalua{
    width: 600px;
    height: 400px;
    border-radius: 50%;
}

.side{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.main{
    width: auto;
    margin: 10px;
    font-size: 20px;
    font-family:'Lexend Deca';
    display: flex;
    flex-direction: row;
}

article{
    padding: 10px;
    margin: 10px;
    text-align: justify;
    font-size: 25px;
    color: #00000e;
    display: block;
}

#uno{
    background-color: #05bfdb;
}

#dos{
    background-color: #0A4D68;
}

h3{
    color: #eaeaf1;
    font-family:'Big Shoulders Display', cursive;
    font-size: 30px;
    margin: 15px;
    text-align: center;
}

.contenedor{
    margin: 15px;
    text-align: justify;
    padding: 20px;
    line-height: 1,5px;
}

.box{
    margin: 15px;
    text-align: justify;
    padding: 20px;
    line-height: 1,5px;
}

img{
    width: 400px;
    border-radius: 80%;
    margin: 0 auto;
    display: block;
}

footer{
    text-align: center;
    color: #0A4D68;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    font-family: 'Style Script', cursive;
}
@media (max-width:700px){
    header{
    height: 100px;
    width: 500px;
    margin: 0;
    }

    img.evalua{
    width: 250px;
    height: 180px;
    }

    .side{
    font-size: 20px;
    }

    .main{
    flex-direction: column;
    }

    article{
    font-size: 18px;
    }

    h3{
        font-size: 20px;
    }

    img{
        width: 180px;
    }

    footer{
    font-size: 20px;
    }
    }