@import url('https://fonts.googleapis.com/css2? family= Style+Script & display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(/img/ni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 60px 0px;
    text-align: center;
    position: sticky;
    top:0
}

header div{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

@media (max-width:700px){
    .body{
        font-size: 15px;
    }
    .img{
        height: 80px;
        width: 80px;
    }
    .img.logo{
        height: 70px;
        width: 70px;
    }
    img.niña{
        height: 150px;
        width: 150px;
        border-radius: 10px;
        border-radius: 100%;
        margin: auto;
    }
    .nakv-lin {
        flex-direction: column;
    }
    .main-container{
        flex-direction: column;
    }
    article{
        flex-basis: 100%;
    }
    .p{
        font-size: 18px;
    }
    p.asesor{
        font-size: 18px;
    }
    .iconos a{
        align-items: center;
        margin: 5px;

    }

@media (min-width:1200px){
    h1{
        font-size: 48px;
    }

    h2{
        font-size: 32px;
    }
}
